{
    "presets": [
        "@babel/preset-env", //Compila ECMA Script y ECMA Script6
        "@babel/preset-react" //Compila jsx y sintaxis de React
    ],
    "plugins": ["@babel/transform-runtime"
      ]
}